:root {
  --primary: #b23a48; /* Dark red */
  --secondary: #818479; /* Dark gray */
  --alternate: #f39c12; /* Orange */
  --background: #f5f1ed; /* Light beige */
}

body {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: var(--secondary);
  background-color: var(--background);
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--primary);
}

p {
  margin: 15px 0;
}

.profile-photo {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 2px solid #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  object-fit: cover; 
}

header nav {
  background-color: var(--background);
  color: var(--primary);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(23, 10, 28);
}

header nav a {
  color: var(--primary);
  margin-right: 20px; /* Add spacing between navigation links */
}

.main-nav a:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

.sidebar {
  background-color: var(--secondary);
  color: rgba(186, 193, 184);
}

button {
  margin-bottom: 10px; /* Add margin below the button */
  background-color: var(--primary);
  color: var(--background);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-input {
  background-color: var(--background);
  color: var(--secondary);
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 100%;
}

.submit-btn, .download-btn {
  background-color: var(--alternate);
  color: var(--background);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project-container a {
  background-color: var(--primary);
  color: var(--background);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.project-container a:hover {
  opacity: 0.8;
}

.about h2, .resume h3 {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

footer nav a {
  color: var(--primary);
}
